/* Variables de couleur et de style */
:root {
    --primary-color: #87CEEB; /* Bleu ciel apaisant */
    --secondary-color: #90EE90; /* Vert frais */
    --text-color: #495057; /* Gris foncé doux */
    --background-color: #F8F8F8; /* Gris clair */
    --card-shadow: 0 4px 15px rgba(0,0,0,0.05);
    --card-hover-transform: translateY(-10px);
    --card-transition: all 0.3s ease, box-shadow 0.3s ease;
    --stress-color: #386641; /* Vert forêt pour le stress */
    --calm-color: #4361EE; /* Bleu royal pour la zénitude */
    --icon-color: #3498db; /* Bleu vif pour les icônes */
}

/* Styles de base */
body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}

.navbar {
    background-color: #ffffff !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

/* Sections principales de la page */
.gains-section,
.features-section {
    padding: 12rem 0 10rem 0;
    background-color: #ffffff;
}

/* Styles pour les cartes de gains et de fonctionnalités */
.gains-card,
.card-feature {
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: var(--card-shadow);
    transition: var(--card-transition);
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gains-card:hover,
.card-feature:hover {
    transform: var(--card-hover-transform);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.gains-icon,
.feature-icon {
    font-size: 3.5rem;
    color: var(--icon-color);
}

/* Styles pour les tuiles de gains et de fonctionnalités */
.features-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5rem;
    gap: 1rem;
}

.feature-col {
    flex: 0 0 60%;
    max-width: 60%;
}

/* Styles pour les sous-titres */
.gains-card-subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    color: #7f8c8d;
}

/* Styles de la navigation et des boutons */
.btn-primary {
    background-color: var(--primary-color);
    border: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #6495ED;
}

.nav-link.active {
    font-weight: 600;
}

/* Styles de la section Hero et des sections de contenu */
.hero-section {
    background-color: #f8f9fa;
    padding: 8rem 0;
}

.hero-title {
    font-size: 3.5rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 2.5rem;
    }
}


.testimonials-section {
    padding: 5rem 0;
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}

.testimonials-section {
    background-color: #f8f9fa;
}

/* Styles de la carte de fonctionnalités spécifiques à la page d'accueil */
.card-feature {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card-feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}

.feature-icon {
    font-size: 3rem;
    color: #3498db;
}
